img.satu
{
    background-color: lightblue;
    border: 10px solid red;
    padding: 20px;
    margin: 10px;
  }

img.dua
{
  border:10px solid red;
	background: lightblue;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -78.5px;
	margin-left: -455px;
	text-align: center;
	padding:20px;
	display: table;
}

img.tiga
{
  border:10px solid red;
	background: lightblue;
	position: fixed;
	top: 50%;
	left: 50.4%;
	margin-top: 101px;
  margin-left: -280.590px;
	text-align: center;
	padding:20px;
	display: table;
  }