body
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.5em ;
    background: pink;
    
}
 
h1
{
    color: lawngreen;
    fill: pink;
    background: aqua;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 3.625rem;
    width:50%;
    margin:0 auto; 
    text-align: center ;
    width: 100%;
    height: 80px;

   
 
}

ul
{
  font-family: font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; 
  color:black;
    
}